@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Libre Franklin", sans-serif; */
  font-family: "Lora", serif;
  color: #00376b;
  background-color: #084b8a;
  font-size: 1.1rem;
}

img {
  width: 100%;
  display: block;
}

/* HEADER SECTION */
header {
  background-color: #00274c;
  display: flex;
}

header h1 {
  content: "";
  /* border-bottom: 1px solid #e17000; */
  width: 100%;
  /* position: relative; */
  text-align: center;
}

header a {
  text-decoration: none;
  color: #ffff;
}

header a:hover,
header a:focus {
  color: #e17000;
}

/* BODY SECTION */
body {
  background-color: #ffff;
  background-image: url(./images/CSUF_Background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* TYPING CONTAINER */

.timer {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.quote-display {
  text-align: center;
  /* color: #ffab4c; */
  font-weight: 900;
  font-size: 1.2rem;
  background-color: #e17000d7;
  border-radius: 8px;
  padding: 2rem;
}

.typing-container {
  margin: 0em 5rem;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wordspermin {
  color: #fff;
}

/* written by salem */

.textcolor {
	
	color: #00376b;
}

.backcolor {
	
	background-color: #00376b;
	color: #fff;
}
